In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
df1 = pd.read_csv('../data/winemag-data-130k-v2.csv')
df2 = pd.read_csv('../data/winemag-data_first150k.csv')

In [74]:
df1['description'].describe()

count                                                129971
unique                                               119955
top       Stalky aromas suggest hay and green herbs, wit...
freq                                                      3
Name: description, dtype: object

In [75]:
clean_df1 = df1.drop_duplicates(subset='description')

In [76]:
clean_df2 = df2.drop_duplicates(subset='description')

In [77]:
df3 = pd.concat([clean_df1, clean_df2])

In [78]:
df4 = df3.drop_duplicates(subset='description')

In [80]:
df4[['description', 'variety']].to_csv('../data/no_dup_data.csv')

In [12]:
df = df4

In [95]:
from collections import Counter

In [96]:
var = Counter()

In [97]:
var.update(df['variety'])

In [98]:
varietals = list(var.keys())
counts = list(var.values())

In [99]:
idx = np.argsort(counts)
test_vars = []
for val in idx[-1:-16:-1]:
    print(f'{varietals[val]}: {counts[val]}')
    test_vars.append(varietals[val])

Pinot Noir: 16651
Chardonnay: 15625
Cabernet Sauvignon: 13262
Red Blend: 11214
Bordeaux-style Red Blend: 8997
Sauvignon Blanc: 6803
Riesling: 6602
Syrah: 5856
Merlot: 4757
Rosé: 3916
Zinfandel: 3804
Sangiovese: 3634
Malbec: 3439
Nebbiolo: 3123
White Blend: 3110

In [40]:
3110+3123+3439+3634+3804+3916+4757+5856+6602+6803+8997+11214+13262+15625+16651

110793

In [3]:
(110793 - 3916)/169430

0.6308032815912176

In [14]:
df = df[['description', 'variety']]

In [119]:
varieties = set((df['variety']))

# for var in varieties:
#     var = str(var)
# varieties = ' '.join(varieties)
# from nltk.corpus import stopwords
# eng_stops = set(stopwords.words('english'))

In [22]:
full_stops = eng_stops.union(varieties)

In [84]:
df = pd.read_csv('../data/no_dup_data.csv').drop('Unnamed: 0', axis=1)

In [86]:
df

                                              description          variety
0       Aromas include tropical fruit, broom, brimston...      White Blend
1       This is ripe and fruity, a wine that is smooth...   Portuguese Red
2       Tart and snappy, the flavors of lime flesh and...       Pinot Gris
3       Pineapple rind, lemon pith and orange blossom ...         Riesling
4       Much like the regular bottling from 2012, this...       Pinot Noir
...                                                   ...              ...
169425  A Syrah-Grenache blend that's dry and rustical...   Syrah-Grenache
169426  Oreo eaters will enjoy the aromas of this wine...             Port
169427  Outside of the vineyard, wines like this are w...           Merlot
169428  Heavy and basic, with melon and pineapple arom...  Sauvignon Blanc
169429  Smooth in the mouth, this Chard starts off wit...       Chardonnay

[169430 rows x 2 columns]

In [89]:
df.dropna(inplace=True)

In [113]:
varieties = list(df['variety'])

In [161]:
varieties = set(' '.join(varieties).replace('-','').split())
# varieties.remove('apple')

In [216]:
test = pd.read_csv('../data/cleaned_data.csv')
test.dropna()

,Unnamed: 0,description,variety
0,0,"Aromas include tropical fruit, broom, brimston...",White Blend
1,1,"This is ripe and fruity, a wine that is smooth...",Portuguese Red
2,2,"Tart and snappy, the flavors of lime flesh and...",Pinot Gris
3,3,"Pineapple rind, lemon pith and orange blossom ...",Riesling
4,4,"Much like the regular bottling from 2012, this...",Pinot Noir
...,...,...,...
169425,149635,A Syrah-Grenache blend that's dry and rustical...,Syrah-Grenache
169426,149636,Oreo eaters will enjoy the aromas of this wine...,Port
169427,149637,"Outside of the vineyard, wines like this are w...",Merlot
169428,149638,"Heavy and basic, with melon and pineapple arom...",Sauvignon Blanc
169429,149639,"Smooth in the mouth, this Chard starts off wit...",Chardonnay

In [162]:
full_stops = list(eng_stops.union(varieties).union('chard'))

In [210]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [219]:
df_test = df[df['variety'].isin(['Pinot Noir', 'Chardonnay'])]
df_test

                                              description     variety
4       Much like the regular bottling from 2012, this...  Pinot Noir
14      Building on 150 years and six generations of w...  Chardonnay
21      A sleek mix of tart berry, stem and herb, alon...  Pinot Noir
25      Oak and earth intermingle around robust aromas...  Pinot Noir
35      As with many of the Erath 2010 vineyard design...  Pinot Noir
...                                                   ...         ...
169404  Deep gold in color, with nut, peach and overt ...  Chardonnay
169412  Yellowish in color, with a heavy, somewhat cre...  Chardonnay
169416  Made in a superripe style, this Chard is jammy...  Chardonnay
169422  Nut and white stone fruit aromas start things ...  Chardonnay
169429  Smooth in the mouth, this Chard starts off wit...  Chardonnay

[32276 rows x 2 columns]

In [202]:
X = df_test['description']
y = df_test['variety']

In [203]:
vecto = CountVectorizer(stop_words=full_stops)

In [204]:
X = vecto.fit_transform(X)

/Users/ianhetterich/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:383: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['affile', 'alexandrie', 'aunis', 'avola', 'oeil', 'rondinella', 'st'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [205]:
naive = MultinomialNB()

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [207]:
naive.fit(X_train, y_train)

MultinomialNB()

In [208]:
naive.score(X_train, y_train)

0.981121163299872

In [209]:
naive.score(X_test, y_test)

0.9729830214400793

In [211]:
rand_forest = RandomForestClassifier()

In [212]:
rand_forest.fit(X_train, y_train)

RandomForestClassifier()

In [213]:
rand_forest.score(X_train, y_train)

1.0

In [214]:
rand_forest.score(X_test, y_test)

0.9748419878547527